body{
	margin-top:0%;
	margin-bottom:0%;
	margin-left:0%;
	margin-right:0%;
	background-image: url("../img/background.jpg");
	font-family: "c&l";
}


 @font-face {
	font-family: "c&l";
	src: url("../fonts/Champagne_Limousines.ttf");
}






.row{
	padding: 0;
	margin: 0;
}


 .boutons{
 	border-radius: 4px;
 	color:#e6e6e6;
 	text-transform: uppercase;
 	text-align: center;
	background-color:#d6484a;
 }


	/****************************************************************************************/
	/*										HEADER											*/
	/****************************************************************************************/
	.header{
		border-top: 1px solid #d6484a;
		border-bottom: 3px solid #d6484a;
		margin-top:15px;
		padding-top:20px;
		padding-bottom:20px;
		font-size:35px;
		color: #d6484a;
		text-align: center;
		margin-bottom:30px;
	}
		.header img{
			height:45px; 
		}

	/****************************************************************************************/
	/*										ACCUEIL											*/
	/****************************************************************************************/
	.bouton_connexion{
		padding:10px;
		padding-left:30px;
		padding-right:30px;
		font-size:180%;
	}
	/****************************************************************************************/
	/*										CHOIX PHOTO										*/
	/****************************************************************************************/
	.accueil{
		width: 100%;
	}
		.accueil .title{
			font-size:40px;
			width: 100%;
		}
			.accueil .title div{
				padding-top:40px;
			}
			.accueil .title .icone{
				padding-top:00px;
				text-align: center;
			}
				.accueil .title .icone img{
					max-width: 90%;
				}
		.accueil .actions_bottom{
			padding-top:50px;
			width: 100%;
		}
			.accueil .actions_bottom .boutons{
				text-indent: 10px;
				background-size: auto 80%;
				background-position: 10px center;
				padding-top:15px;
				padding-bottom:15px;
				font-size:25px;
				background-repeat: no-repeat;
			}
				.accueil .actions_bottom .boutons.choisir_photo{
					background-image:url('../img/icones/choisir_photo.png');
				}
				.accueil .actions_bottom .boutons.telecharger_photo{
					background-image:url('../img/icones/telecharger_photo.png');
					background-size: auto 70%;
					background-position: 15px center;
				}
				.accueil .actions_bottom .boutons:hover{
					color:white;
					text-decoration: none;
					background-color: #9f1f20;
				}
		.accueil .container_vote{
			position: fixed;
			top: 150px;
		}
			.accueil .container_vote .boutons{
				margin:auto;
				border-top-left-radius:0;
				border-bottom-left-radius:0;
				color:white;
				text-decoration: none;
				font-size:25px;
				padding-top: 35px;
				background-repeat: no-repeat;
				background-position: center 5px;
				background-image: url('../img/campagnes/1/coeur_white.png');
				background-size: auto 40% ;
			}
				.accueil .container_vote .boutons:hover{
					background-color: #9f1f20;
				}



	/****************************************************************************************/
	/*										VOTE											*/
	/****************************************************************************************/
	.vote{
	}
		.vote .icone{
			text-align: right;
			max-width: 100%;
			position: relative;
			z-index: 6;
		}
			.vote .icone img{
				position: relative;
				left:40px;
				vertical-align: middle;
			}
		.vote .photo{
			border-radius: 360px;
			overflow: hidden;
			padding:0;
			position: relative;
			z-index: 5;
		}
			.vote .photo img{
				width: 100%;
			}
		.vote .criteres{
			padding-top: 20px;
		}
			.vote .criteres .title{
				text-align: left;
				color:#101010;
				font-size: 30px;
			}
			.vote .criteres .note{
				overflow: hidden;
			}
				.vote .criteres .note ul{
					overflow: hidden;
					margin: 0;
					margin-left: 0;
					padding-left: 0;
				}
					.vote .criteres .note ul li{
						height:51px;
						float: left;
						list-style: none;
						width: 48px;
						background-image: url("../img/campagnes/1/coeur_off.png");
						background-size: 100% auto;
						margin-left: 15px;
						cursor: pointer;
					}
						.vote .criteres .note ul li.active{
							background-image: url("../img/campagnes/1/coeur_on.png");
						}

		.vote .averange{
			text-align: center;
			padding-top:30px;
		}
			.vote .averange .white{
				width: 50%;
				margin:auto;
				background-color: white;
				padding-top:15px;
				padding-bottom:15px;
				text-align: center;
				margin-bottom: -20px;
	 			border-radius: 4px;
	 			color:#d6484a;
	 			font-size:25px;
			}
				.vote .averange .white .fleche{
					margin-bottom:-20px;
					position: relative;
					top:-45px;
				}
				.vote .averange .white img{
					height:25px;
				}
		.vote .next_vote_container{
			margin-top:30px;
		}
			.vote .next_vote_container .boutons{
				width:50%;
				font-size: 30px;
				padding:0 15px;
				margin:auto;
				border:none;
			}
			
	/****************************************************************************************/
	/*									SELECTION PHOTO										*/
	/****************************************************************************************/
	.select_picture{

	}
		.select_picture .container_select{
			padding:20px;
			text-align: center;
		}
			.select_picture .container_select select{
				background-color: #d6484a;
				border-radius: 4px;
				color:white;
				font-size: 30px;
				padding:15px;
				margin:auto !important;
				border:none;
				width: 50%;
				background-image:url('../img/icones/choisir_photo.png');
				background-repeat: no-repeat;
				background-position: 15px center;
				background-size: auto 70%;
				text-indent: 40px;
				appearance:none;
			    -moz-appearance:none;
			    -webkit-appearance:none;
			}
				.select_picture .container_select select option{
					background-color: #d6484a;
					cursor: pointer;
					text-indent: 20px;
				}
					.select_picture .container_select select option:select{
						background-color: #c46869;
					}
			.select_picture .container_select .arrow{
				position: relative;
				left:-60px;
				top:-5px;
			}
		.select_picture .valid_choix_facebook{
			text-align: center;
		}
			.select_picture .valid_choix_facebook .boutons{
				border:none;
				font-size:150%;
				padding-left:30px;
				background-image: url('../img/icones/check_validate.png');
				background-repeat:no-repeat;
				background-position: 5px center;
			}
		.select_picture .container_pictures{
			margin-top:30px;
			overflow: hidden;
		}
			.select_picture .container_pictures .message_album{
				text-align: center;
				font-size:200%;
				width: 50%;
				padding:25px;
				margin:100px auto 0;
				background-color:rgba(255,255,255,0.8);
			}
				.select_picture .container_pictures .message_album.hidde{
					display:none;
				}
			.select_picture .container_pictures ul{
				width: 90%;
				margin:auto;
			}
				.select_picture .container_pictures ul li{
					width: 33%;
					list-style: none;
					float: left;
					margin-top:15px;
				}
					.select_picture .container_pictures ul li img{
						width: 80%;
						border:8px solid white;
						border-bottom:25px solid white;
						box-shadow: 0 0 10px rgba(0,0,0,0.2);
						cursor: pointer;
						position: relative;
						top:0px;
						transition:all 0.5s;
					}
						.select_picture .container_pictures ul li img:hover{
							position: relative;
							top:-5px;
							box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
							transition:all 0.5s;
						}
					.select_picture .container_pictures ul li img.active{
						position: relative;
						top:-5px;
						box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
						transition:all 0.5s;
					}
		.form_upload{
			text-align: center;
			background-color: white;
			padding:20px;
			width:60%;
			margin:auto;
		}
			.form_upload input[type=file]{
				margin:0 auto 20px;
			}
			.form_upload .boutons{
				font-size:30px;
				border: none;
				padding:10px 30px;
			}
/****************************************************************************************/
/*									SELECTION PHOTO										*/
/****************************************************************************************/
.classement{

}
	.classement .container_podium{
		max-width:600px;
		height:400px;
		background-repeat:no-repeat;
		background-position: bottom;
		background-size: 98% auto;
		background-image:url("../img/classement/podium.png");
		margin:auto;
		border-right: 1px solid silver;
	}
		.classement .container_podium .personne{
			text-align: center;
			font-size:30px;
		}
			.classement .container_podium .personne img{
				border-radius: 360px;
				width:100%;
			}
		.classement .container_podium .personne .name{
			margin-bottom: 87px;
		}
	.classement .container_right{
		text-align: center !important;
	}
		.classement .container_right .image_personne{
			width:50%;
			margin:20px auto 0;
		}
			.classement .container_right .image_personne img{
				border-radius: 360px;
				width:100%;
			}
		.classement .container_right .boutons{
			width:80%;
			padding:5px;
			font-size:30px;
			margin:15px auto 0 !important;
		}


/****************************************************************************************/
/*									RECAP PARTICIPATION									*/
/****************************************************************************************/
.recapitulatif_participation{

}
	.recapitulatif_participation .container_img{
		text-align: center;
	}
		.recapitulatif_participation .container_img img{
			width:80%;
			border:8px solid white;
			border-bottom:25px solid white;
			box-shadow: 0 0 10px rgba(0,0,0,0.2);
		}
	.recapitulatif_participation .texte{
		text-align: center;
	}
		.recapitulatif_participation .texte .boutons{
			border:none;
			font-size: 150%;
			padding:10px 20px;
		}
		.recapitulatif_participation .texte .date{
			font-size:30px;
		}
/****************************************************************************************/
/*							VALIDATION PARTICIPATION									*/
/****************************************************************************************/
.validation_photo{
	text-align: center;
}
	.validation_photo .left{

	}
		.validation_photo .left .remerciement{
			font-size:25px;
		}
			.validation_photo .left .remerciement .nom_concours{
				font-size:40px;
			}
		.validation_photo .left .date_fin{
			padding-top:20px;
			border-top:1px solid silver;
			width:70%;
			margin: auto;
			font-size: 25px;
		}
			.validation_photo .left .date_fin span{
				font-size:150%;
			}
		.validation_photo .left .redirect{
			padding-top: 20px;
		}
			.validation_photo .left .redirect .boutons{
				width: 80%;
				margin:auto;
				display: block;
				padding:15px 0;
				font-size:25px;
			}
	.validation_photo .right{

	}
		.validation_photo .right .titre_a_gagner{
			font-size: 50px;
			text-transform: uppercase;
		}
		.validation_photo .right .img_lot{
		}
			.validation_photo .right .img_lot img{
				width: 50%;
				border:8px solid white;
				border-bottom:25px solid white;
				box-shadow: 0 0 10px rgba(0,0,0,0.2);
			}

	.CGU{
		width:70%;
		margin:30px auto 20px;
		background-color:white;
		padding:20px;
	}
		.CGU .title{
			font-size:50px;
			text-align: center;
		}
		.CGU .text{
		}

/****************************************************************************************/
/*									 CLASSEMENT											*/
/****************************************************************************************/
.classement{

}
	.classement .left{

	}
		.classement .left table{
			width: 60%;
			margin:auto;
			text-align: center;
		}
			.classement .left table .head{
				color: white;
				background-color:gray;
				padding:10px;
				font-size:25px;
			}
			.classement .left table td{
				padding-top:15px;
				padding-bottom:15px;
			}
			.classement .left table .line{
				background-color:rgb(250,250,250);
				font-size:30px;
			}
				.classement .left table .line img{
					border:3px solid white;
					border-bottom:7px solid white;
					box-shadow: 0 0 10px rgba(0,0,0,0.2);
				}
				.classement .left table .line.silver{
					background-color:rgb(242,242,242);
				}
	.classement .right{

	}
		.classement .right .photo{
			text-align: center;
		}
			.classement .right .photo img{
				width: 30%;
				border:8px solid white;
				border-bottom:25px solid white;
				box-shadow: 0 0 10px rgba(0,0,0,0.2);
			}
			.classement .right .photo .label_moyenne{
				font-size:180%;
				text-decoration: underline;
			}
			.classement .right .photo .label_critere{
				font-size:180%;
			}
			.classement .right .photo .valeur_critere{
				font-size:180%;
			}