body{
	margin-top:0%;
	margin-bottom:0%;
	margin-left:0%;
	margin-right:0%;
	font-family: "c&l";
}


 @font-face {
	font-family: "c&l";
	src: url("../fonts/Champagne_Limousines.ttf");
}

header{
	background-image: url("../img/background.jpg");
}

.navbar-brand > img {
	display: inline-block;
}
